$bgColor: #FFFFFF;
$bgColor1: #20C3AF;
$bgColor2: #525464;
$Color1:#838391;
$Color2: #FFB19D;
$Color3:#525464;
$Color4:#FFFFFF;
$Color5:#B0B0C3;
$bordColor: #E2E2E0;
$bordColor1:#ECECEB;
$inputBg: #F7F7F7;

.sign-in {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  contain: content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 37.5rem;
  height: auto;
  background-color: $bgColor;

  .container {
    margin: 3rem;
    display: flex;
    flex-direction: column;

    .nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 6.5rem;

      h1 {
        font-family: 'Roboto';
        font-weight: 90rem;
        font-size: 1.8rem;
        line-height: 2.2rem;
        letter-spacing: 0.038rem;
        text-align: center;
      }

      .path {
        width: 0.975rem;
        height: 1.623rem;
      }

      .reactangles {
        display: flex;
        flex-direction: column;
        justify-content: right;
        gap: 0.4rem;

        #big {
          width: 1.8rem;
          height: 0.2rem;
        }

        #small {
          margin-left: 0.6rem;
          width: 1.2rem;
          height: 0.2rem;
        }
      }
    }



    #sign-in {
      align-self: center;
      width: 10rem;
      height: 14.5rem;
      margin-bottom: 4.5rem;
    }


    .form-to-socials-container {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;

      .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;

        input {
          border: none;
          width: 31.5rem;
          height: 6rem;
          background-color: $inputBg;

        }

        ::placeholder {
          display: flex;
          justify-content: flex-start;
          font-family: "Roboto";
          font-weight: 50rem;
          font-size: 1.6rem;
          color: $Color5;
          line-height: 1.875rem;
          letter-spacing: 0.04rem;
          padding: 2.1rem;
        }
      }

      button {
        color: $bgColor;
        font-weight: 90rem;
        font-family: "Roboto";
        font-size: 1.6rem;
        line-height: 1.875rem;
        letter-spacing: 0.04rem;
        text-align: center;
        border: none;
        align-self: center;
        background-color: $bgColor1;
        width: 31.5rem;
        height: 6rem;
      }

      button:hover {
        cursor: pointer;
      }
    }

    #footer {
      color: $Color1;
      font-weight: 90rem;
      font-family: "Roboto";
      font-size: 1.6rem;
      line-height: 2.2rem;
      letter-spacing: 0.033rem;
      text-align: center;
      margin-top: 5rem;

      a {
        margin-left: 0.5rem;
        color: $Color2;
        font-weight: 50rem;
      }
    }
  }
}
