$bgColor: #FFFFFF;
$bgColor1: #20C3AF;
$bgColor2: #525464;
$Color1:#838391;
$Color2: #FFB19D;
$Color3:#525464;
$Color4:#FFFFFF;
$Color5:#B0B0C3;
$bordColor: #E2E2E0;
$bordColor1:#ECECEB;
$inputBg: #F7F7F7;

.sign-in {
  position: absolute;
  contain: content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 37.5rem;
  height: 100vh;
  background-color: $bgColor;

  .container {
    margin: 30px;
    display: flex;
    flex-direction: column;

    .nav {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 6.5rem;
      gap: 35%;

      h1 {
        color: $Color3;
        font-family: 'Roboto';
        font-weight: 90rem;
        font-size: 1.8rem;
        line-height: 2.2rem;
        letter-spacing: 0.038rem;
        text-align: center;
      }

      .path {
        width: 0.975rem;
        height: 1.623rem;
      }

      .reactangles {
        display: flex;
        flex-direction: column;
        justify-content: right;
        gap: 0.4rem;


        #big {
          width: 1.8rem;
          height: 0.2rem;
        }

        #small {
          margin-left: 0.6rem;
          width: 1.2rem;
          height: 0.2rem;
        }
      }
    }



    #sign-in {
      align-self: center;
      width: 10rem;
      height: 14.5rem;
      margin-bottom: 4.5rem;
    }


    .form-to-socials-container {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;

      .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;

        input {
          border: none;
          width: 31.5rem;
          height: 6rem;
          background-color: $inputBg;

        }

        ::placeholder {
          display: flex;
          justify-content: flex-start;
          font-family: "Roboto";
          font-weight: 50rem;
          font-size: 1.6rem;
          color: $Color5;
          line-height: 1.875rem;
          letter-spacing: 0.04rem;
          padding: 2.1rem;
        }

        a {
          color: #838391;
          font-family: "Roboto";
          font-weight: 90rem;
          font-size: 1.6rem;
          line-height: 2.2rem;
          letter-spacing: 0.033rem;
          align-self: flex-end;
        }
      }

      button {
        color: $bgColor;
        font-weight: 90rem;
        font-family: "Roboto";
        font-size: 1.6rem;
        line-height: 1.875rem;
        letter-spacing: 0.04rem;
        text-align: center;
        border: none;
        align-self: center;
        background-color: $bgColor1;
        width: 31.5rem;
        height: 6rem;
        margin-top: 3.4rem;
      }

      button:hover {
        cursor: pointer;
      }
    }

    #footer {
      color: $Color1;
      font-weight: 90rem;
      font-family: "Roboto";
      font-size: 1.6rem;
      line-height: 2.2rem;
      letter-spacing: 0.033rem;
      text-align: center;
      margin-top: 5rem;

      a {
        margin-left: 0.5rem;
        color: $Color2;
        font-weight: 50rem;
      }
    }
  }
}

@media (max-width:360px) {
  .sign-in {

    .container {
      margin-bottom: 0px;
      margin-top: 10px;

      .nav {
        margin-bottom: 1.5rem;
      }

      #sign-in {
        width: 5.5rem;
        height: 6.5rem;
        margin-top: 1rem;
        margin-bottom: 4rem;
      }


      .form-to-socials-container {
        .form {
          input {
            height: 5rem;
          }
        }

        button {
          height: 5rem;
          margin-top: 3.4rem;
        }

        button:hover {
          cursor: pointer;
        }
      }

      #footer {
        margin-top: 4rem;
      }
    }
  }
}
