<div class="nav">
    <h1>Sing In</h1>
    <div class="reactangles">
        <img src="../../../assets/Rectangle.png" alt="reactangle">
        <img src="../../../assets/Rectangle Copy.png" alt="reactangle-copy">
    </div>
</div>

<img src="../../../assets/signin.png" alt="sign-in-pencil">

<div class="form">
    <input [(ngModel)]="user.username" placeholder="Username"> <br>
    <input [(ngModel)]="user.password" placeholder="Password" type="password"> <br>
    <a href="#">Forgot your password?</a>
    <button (click)="login()">Login</button>
</div>

<app-socials></app-socials>

<span>Don't have an account? </span>

<a routerLink="/sign-up">Sign up</a>