<div class="nav">
    <div class="path"></div>
    <h1>Sing Up</h1>
    <div class="rectangle"></div>
    <div class="rectangle-copy"></div>
</div>
<img src="../../../assets/signup.png" alt="sign-up-lock">
<form #signUpForm="ngForm">
    <input type="email" #emailInput="ngModel" name="userEmail" placeholder="Enter email" ngModel required minlength="6" maxlength="30" [ngClass]="{
            greenBorder: isValidEmail(emailInput) ,
            redBorder:  !isValidEmail(emailInput)  && emailInput.touched
         }">

    <input type="password" name="password" #passwordInput="ngModel" ngModel required placeholder="Enter password"> <br>
    <div *ngIf="passwordInput.invalid && passwordInput.touched">Password doesn't meet the requirements</div>

    <input type="password" name="passwordRepeat" #passwordRepeatInput="ngModel" ngModel required placeholder="Confirm password"> <br>
    <div *ngIf="passwordRepeatInput !== passwordInput && passwordRepeatInput.invalid && passwordRepeatInput.touched ">Passwords do not match</div>
</form>

<button (click)="signUp(signUpForm)">Sing Up</button>

<span>or</span>

<div class="socials">
    <div class="fb">
        <img src="../../../assets/facebook.png" alt="">
    </div>
    <div class="tw">
        <img src="../../../assets/twitter.png" alt="">
    </div>
    <div class="in">
        <img src="../../../assets/linkedin.png" alt="">
    </div>
</div>

<span>Already have an account? </span>

<a routerLink="/sign-in">Sign in</a>