.greenBorder {
  border: 1px solid #20C3AF;
}

.redBorder {
  border: 1px solid #FFB19D;
}

.sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  contain: content;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 37.5rem;
  height: 81.2rem;
  background-color: #FFFFFF;
}

.sign-up .container {
  margin: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sign-up .container .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 6.5rem;
}

.sign-up .container .nav h1 {
  font-family: 'Roboto';
  font-weight: 90rem;
  font-size: 1.8rem;
  line-height: 2.2rem;
  letter-spacing: 0.038rem;
  text-align: center;
}

.sign-up .container .nav .path {
  width: 0.975rem;
  height: 1.623rem;
}

.sign-up .container .nav .reactangles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  gap: 0.4rem;
}

.sign-up .container .nav .reactangles #big {
  width: 1.8rem;
  height: 0.2rem;
}

.sign-up .container .nav .reactangles #small {
  margin-left: 0.6rem;
  width: 1.2rem;
  height: 0.2rem;
}

.sign-up .container #sign-up {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 13.8rem;
  height: 14.1rem;
  margin-bottom: 4.5rem;
}

.sign-up .container .form-to-socials-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.6rem;
}

.sign-up .container .form-to-socials-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.6rem;
}

.sign-up .container .form-to-socials-container form input {
  border: none;
  width: 31.5rem;
  height: 6rem;
  background-color: #F7F7F7;
}

.sign-up .container .form-to-socials-container form ::-webkit-input-placeholder {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  font-family: "Roboto";
  font-weight: 50rem;
  font-size: 1.6rem;
  color: #B0B0C3;
  line-height: 1.875rem;
  letter-spacing: 0.04rem;
  padding: 2.1rem;
}

.sign-up .container .form-to-socials-container form :-ms-input-placeholder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  font-family: "Roboto";
  font-weight: 50rem;
  font-size: 1.6rem;
  color: #B0B0C3;
  line-height: 1.875rem;
  letter-spacing: 0.04rem;
  padding: 2.1rem;
}

.sign-up .container .form-to-socials-container form ::-ms-input-placeholder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  font-family: "Roboto";
  font-weight: 50rem;
  font-size: 1.6rem;
  color: #B0B0C3;
  line-height: 1.875rem;
  letter-spacing: 0.04rem;
  padding: 2.1rem;
}

.sign-up .container .form-to-socials-container form ::placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: "Roboto";
  font-weight: 50rem;
  font-size: 1.6rem;
  color: #B0B0C3;
  line-height: 1.875rem;
  letter-spacing: 0.04rem;
  padding: 2.1rem;
}

.sign-up .container .form-to-socials-container button {
  color: #FFFFFF;
  font-weight: 90rem;
  font-family: "Roboto";
  font-size: 1.6rem;
  line-height: 1.875rem;
  letter-spacing: 0.04rem;
  text-align: center;
  border: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #20C3AF;
  width: 31.5rem;
  height: 6rem;
}

.sign-up .container .form-to-socials-container button:hover {
  cursor: pointer;
}

.sign-up .container #footer {
  color: #838391;
  font-weight: 90rem;
  font-family: "Roboto";
  font-size: 1.6rem;
  line-height: 2.2rem;
  letter-spacing: 0.033rem;
  text-align: center;
  margin-top: 5rem;
}

.sign-up .container #footer a {
  margin-left: 0.5rem;
  color: #FFB19D;
  font-weight: 50rem;
}
