<div class="nav">
    <div class="path">
        <img src="../../../assets/arrow.png" alt="arrow">
    </div>
    <h1>Sign Up</h1>
    <div class="reactangles">
        <img src="../../../assets/Rectangle.png" alt="reactangle">
        <img src="../../../assets/Rectangle Copy.png" alt="reactangle-copy">
    </div>
</div>
<img src="../../../assets/signup.png" alt="sign-up-lock">
<form #signUpForm="ngForm">
    <input type="email" #emailInput="ngModel" name="userEmail" placeholder="Enter email" ngModel required minlength="6" maxlength="30" [ngClass]="{
            greenBorder: isValidEmail(emailInput) ,
            redBorder:  !isValidEmail(emailInput)  && emailInput.touched
         }">

    <input type="password" name="password" #passwordInput="ngModel" ngModel required placeholder="Enter password"> <br>
    <div *ngIf="passwordInput.invalid && passwordInput.touched">Password doesn't meet the requirements</div>

    <input type="password" name="passwordRepeat" #passwordRepeatInput="ngModel" ngModel required placeholder="Confirm password"> <br>
    <div *ngIf="passwordRepeatInput !== passwordInput && passwordRepeatInput.invalid && passwordRepeatInput.touched ">Passwords do not match</div>
</form>

<button (click)="signUp(signUpForm)">Sing Up</button>

<app-socials></app-socials>

<span>Already have an account? </span>

<a routerLink="/sign-in">Sign in</a>