$bgColor: #FFFFFF;
$bgColor1: #20C3AF;
$bgColor2: #525464;
$Color1:#838391;
$Color2: #FFB19D;
$Color3:#525464;
$Color4:#FFFFFF;
$bordColor: #E2E2E0;
$bordColor1:#ECECEB;

.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  contain: content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 37.5rem;
  height: auto;
  background-color: $bgColor;

  .top {
    margin: 3.2rem;
    display: flex;
    flex-direction: column;
    contain: content;

    .nav {
      contain: content;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10%;

      .path {
        width: 0.975rem;
        height: 1.623rem;
      }

      .reactangles {
        display: flex;
        flex-direction: column;
        justify-content: right;
        gap: 0.4rem;

        #big {
          width: 1.8rem;
          height: 0.2rem;
        }

        #small {
          margin-left: 0.6rem;
          width: 1.2rem;
          height: 0.2rem;
        }
      }
    }


    .profileArea {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      contain: content;

      #usr {
        color: $Color3;
        font-family: 'Ubuntu';
        font-weight: 50rem;
        font-size: 2.4rem;
        line-height: 2.758rem;
        letter-spacing: 0.033;
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 0rem;
      }

      .Img_Profile {
        border-radius: 36rem;
        width: 11.4rem;
        height: 11.4rem;
        contain: content;

        #photo {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          overflow: hidden;
        }
      }

      .location {
        font-family: 'Roboto';
        display: flex;
        gap: 1.5rem;
        align-items: center;

        p {
          margin: 0rem;
          color: $Color1;
          font-weight: 50rem;
          font-size: 1.6rem;
          line-height: 2.2rem;
          letter-spacing: 0.033;
        }

        img {
          width: 0.536rem;
          height: 0.5rem;
        }
      }

    }

    a {
      font-family: 'Roboto';
      display: flex;
      justify-content: center;
      align-items: center;
      color: $Color2;
      font-weight: 90rem;
      font-size: 1.6rem;
      line-height: 1.875rem;
      letter-spacing: 0.033rem;
      margin: 2.5rem;
    }

    .actions {
      display: flex;
      justify-content: space-around;

      button {
        font-family: 'Roboto';
        width: 15rem;
        height: 6rem;
        border: none;
        font-weight: 90rem;
        font-size: 1.6rem;
        line-height: 1.875rem;
        text-align: center;
        letter-spacing: 0.04rem;
      }

      button:hover {
        cursor: pointer;
      }

      button:first-of-type {
        color: $Color1;
        background-color: $bgColor;
        border-color: $bordColor;
        border: 1px solid rgba(226, 226, 224, 0.4854);
        box-sizing: border-box;
      }

      button:last-of-type {
        background-color: $bgColor1;
        color: $bgColor;
        box-sizing: border-box;
      }
    }


  }

  .bottom {
    contain: content;
    background-color: $bgColor2;

    .container-info {
      contain: content;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1.6rem;
      margin: 4rem 3rem;

      .info-block {
        display: flex;
        align-items: center;
        mix-blend-mode: normal;
        border: 0.1rem solid rgba(226, 226, 224, 0.3043);
        box-sizing: border-box;

        .img {
          padding: 1.2rem 2.5rem;
          border-right: 0.1rem solid rgba(236, 236, 235, 0.3);
        }
      }

      .info {

        padding: 1.2rem 2.2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        p {
          font-family: 'Roboto';
          margin: 0rem;
          display: flex;
          flex-direction: column;
          color: $Color4;
          opacity: 0.381;
          font-weight: 50rem;
          font-size: 1.4rem;
          line-height: 2.2rem;
          letter-spacing: 0.029rem;
          mix-blend-mode: normal;

        }

        p:last-of-type {

          opacity: 1;
          font-size: 1.6rem;
          letter-spacing: 0.033rem;
        }
      }

      .phone {
        img {
          width: 1.79rem;
          height: 1.794rem;
        }
      }

      .email {
        .email-img-container {
          img:first-of-type {
            position: relative;
            width: 2.031rem;
            height: 1.529rem;
          }

          img:last-of-type {
            position: absolute;
            left: 5.6rem;
            width: 2.031rem;
            height: 0.985rem;
          }
        }
      }

      .projects {
        img {
          width: 2.2rem;
          height: 2.2rem;
        }
      }
    }
  }
}
