<div class="profile">
    <div class="top">
        <div class="nav">
            <div class="path">
                <img routerLink="/sign-in" src="../../../assets/arrow.png" alt="arrow">
            </div>
            <div class="reactangles">
                <img id="big" src="../../../assets/Rectangle.png" alt="reactangle">
                <img id="small" src="../../../assets/Rectangle Copy.png" alt="reactangle-copy">
            </div>
        </div>

        <div class="profileArea">
            <div class="Img_Profile">
                <img id="photo" src="../../../assets/profile.png" alt="profile-pic">
            </div>
            <p id="usr">Username</p><br>
            <div class="location">
                <p id="location">New York</p>
                <img id="oval" src="../../../assets/Oval.png" alt="oval">
                <p id="id">ID: 112061</p>
            </div>
        </div>

        <a href="f">Edit</a>

        <div class="actions">
            <button>About Me</button>
            <button (click)="accessService.logout()">Log Out</button>
        </div>

    </div>
    <div class="bottom">
        <div class="container-info">
            <div class="phone info-block">
                <img class="img" src="../../../assets/phone.png" alt="phone">
                <div class="info">
                    <p>Phone number</p><br>
                    <p>+3788888888</p>
                </div>
            </div>
            <div class="email info-block">
                <div class="email-img-container img">
                    <img src="../../../assets/email.png" alt="email">
                    <img src="../../../assets/email-top.png" alt="email-top">
                </div>
                <div class="info">
                    <p>Email</p><br>
                    <p>user@gmail.com</p>
                </div>
            </div>
            <div class="projects info-block">
                <img class="img" src="../../../assets/circle.png" alt="projects">
                <div class="info">
                    <p>Completed projects</p><br>
                    <p>248</p>
                </div>
            </div>
        </div>
    </div>
</div>