<div class="group-33">

    <div class="group-2 corm">
        <p>luxury</p>
        <p>hotels</p>
    </div>

    <div class="group-32 mont" (window:resize)="changeNavVisibility()">
        <fa-icon id="burger" [icon]="faBars" class="nonVisible" (click)="onBurgerClick()"></fa-icon>
        <a href="/landing-page" [ngClass]="{'visible':this.navLinksVisibility=== 1, 
        'nonVisible':this.navLinksVisibility=== 0, 
        'active':this.activeHome}">
            Home
        </a>
        <a href="/facilities" [ngClass]="{'visible':this.navLinksVisibility=== 1, 'nonVisible':this.navLinksVisibility=== 0,  'active':this.activeFacilities}">Facilities</a>
        <a href=" #" [ngClass]="{'visible':this.navLinksVisibility=== 1, 'nonVisible':this.navLinksVisibility=== 0,  'active':this.activeRooms}">Rooms</a>
        <a href="#" [ngClass]="{'visible':this.navLinksVisibility=== 1, 'nonVisible':this.navLinksVisibility=== 0,  'active':this.activeContact}">Contact-us</a>
    </div>

</div>