<div class="main-container">
    <div class="arrow-up">
    </div>
    <div class="container">
        <div class="container-content">
            <div class="contacts">
                <div class="title">
                    <p class="corm fontStyle1">LUXURY</p>
                    <p class="corm fontStyle2">HOTELS</p>
                </div>
                <p class="mont fontStyle">497 Evergreen Rd. Roseville, CA 95673</p>
                <p class="mont fontStyle">+44 345 678 903</p>
                <p class="mont fontStyle">luxury_hotels@gmail.com</p>
            </div>
            <div class="links mont unselectable">
                <a href="#">About Us</a>
                <a href="#">Contact</a>
                <a href="#">Terms & conditions</a>
            </div>
            <div class="media mont unselectable">
                <div class="fb social">
                    <fa-icon id="fb" [icon]="faFacebookF"></fa-icon>
                    <a href="#">Facebook</a>
                </div>
                <div class="tw social">
                    <fa-icon id="tw" [icon]="faTwitter"></fa-icon>
                    <a href="#">Twitter</a>
                </div>
                <div class="Ig social">
                    <fa-icon id="ig" [icon]="faInstagram"></fa-icon>
                    <a href="#">Instagram</a>
                </div>
            </div>
            <div class="newsletter mont unselectable">
                <p>Subscribe to our newsletter
                </p>
                <div class="email">
                    <input type="email" placeholder="Email Address">
                    <span>OK</span>
                </div>
            </div>
        </div>
    </div>
</div>