<div class="main-container">
    <div class="arrow-up">
    </div>
    <div class="container">
        <div class="contacts">
            <p>LUXURY
            </p>
            <p>HOTELS</p>
            <p>497 Evergreen Rd. Roseville, CA 95673</p>
            <p>+44 345 678 903</p>
            <p>luxury_hotels@gmail.com</p>
        </div>
        <div class="links">
            <a href="#">About Us</a>
            <a href="#">Contact</a>
            <a href="#">Terms & conditions</a>
        </div>
        <div class="media">
            <div class="fb">
                <p>Facebook</p>
            </div>
            <div class="tw">
                <p>Twitter</p>
            </div>
            <div class="Ig">
                <p>Instagram</p>
            </div>
        </div>
        <div class="newsletter">
            <p>Subscribe to our newsletter
            </p>
            <div class="email">
                <div class="address">Email Address<span>OK</span></div>
            </div>
        </div>
    </div>
</div>