<div class="main-container">
    <div class="hero">
        <div class="background-rec">
            <div class="group-34 unselectable">
                <app-header></app-header>
                <div class="group-31">
                    <h1 id="firsth1" class="mont">welcome to</h1>
                    <h1 id="firsth2" class="corm">luxury</h1>
                    <h1 id="firsth3" class="corm">hotels</h1>
                    <p class="mont">Book your stay and enjoy Luxury redefined at the most affordable rates.</p>
                </div>
                <div class="book-now mont">
                    <img src="./../../../assets/Group 37.png" alt="facilities-page-image">
                    <p>book now</p>
                </div>

                <div class="scroll mont">
                    <p>Scroll</p>
                    <a href="/facilities/#breakfastInfo">
                        <div class="mouse">
                            <div class="wheel"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>




    <div class="container unselectable">
        <h2 id="breakfastInfo" class="corm">FACILITIES</h2>
        <p class="mont">We want your stay at our lush hotel to be truly unforgettable. That is why we give special attention to all of your needs so
            that we can ensure an experience quite uniquw. Luxury hotels offers the perfect setting with stunning views for leisure
            and our modern luxury resort facilities will help you enjoy the best of all.</p>
        <div class="facility" *ngFor="let facility of this.facilitiesService.facilities">
            <img src="{{facility.img}}">
            <h2>{{facility.name}}</h2>
        </div>
    </div>



    <div class="testimonials unselectable">
        <h2 class="corm">testimonials</h2>
        <ng-container *ngFor="let comment of testimonialsService.testimonials; let i = index">
            <p class="mont first" *ngIf="i === testimonialsService.currentTestimonial">{{comment.comment}}</p>
            <p class="mont second" *ngIf="i === testimonialsService.currentTestimonial">{{comment.user}}</p>
        </ng-container>
        <div class="arrows">
            <fa-icon class="arrow" [icon]="faAngleLeft" (click)="testimonialsService.onPreviousClick()"></fa-icon>
            <fa-icon class="arrow" [icon]="faAngleRight" (click)="testimonialsService.onNextClick()"></fa-icon>
        </div>
    </div>
    <app-footer></app-footer>
</div>