.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  .hero {
    display: flex;
    height: 100vh;
    background-image: url("../../../assets/palm-trees-at-night-258154\ 1.png");
    box-sizing: border-box;
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100vw;
    margin-bottom: 20px;




    .background-rec {
      background: rgba(20, 39, 74, 0.5);
      height: inherit;
      width: inherit;



      .group-34 {
        width: 80vw;
        height: 95vh;
        display: inline-block;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        .group-31 {
          width: 50%;
          display: flex;
          flex-direction: column;
          position: absolute;
          left: 0%;
          top: 45%;
          transform: translate(-0%, -50%);
          text-transform: uppercase;
          color: #FFFFFF;

          #firsth1 {
            font-weight: normal;
            font-size: 50px;
            line-height: 61px;

          }

          #firsth2 {
            font-weight: 700;
            font-size: 140px;
            line-height: 160px;
            letter-spacing: 0.07em;

          }

          #firsth3 {
            font-weight: 700;
            font-size: 60px;
            line-height: 72px;
            letter-spacing: 0.4em;
          }

          p {
            width: 75%;
            font-style: normal;
            font-weight: 400;
            font-size: 25px;
            line-height: 30px;
            letter-spacing: 0.1em;
            color: #FFFFFF;
            text-transform: none;
            margin-top: 2%;
          }
        }

        .book-now {
          width: 268px;
          position: absolute;
          left: 50%;
          top: 81%;
          transform: translate(-50%, -80%);
          display: flex;
          align-items: center;
          justify-content: space-around;
          background: #E0B973;
          border: none;
          box-sizing: border-box;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 4px;
          color: #FFFFFF;
          text-transform: uppercase;
          font-style: normal;
          font-weight: 700;
          font-size: 25px;
          line-height: 30px;
          padding: 20px 28px;
        }

        .book-now:hover {
          cursor: pointer;
          background-color: #e9c178;
        }

        .scroll {
          width: 79px;
          height: 106px;
          position: absolute;
          left: 50%;
          top: 95%;
          transform: translate(-50%, -80%);
          color: white;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          gap: 10%;

          a {

            -webkit-transition: all 0.5s linear;
            -moz-transition: all 0.5s linear;
            -o-transition: all 0.5s linear;
            transition: all 0.5s linear;

          }

          p {
            font-style: normal;
            font-weight: 700;
            font-size: 25px;
            line-height: 30px;
            letter-spacing: 0.05em;
          }



          .mouse {
            display: inline-block;
            width: 34px;
            height: 55px;
            border: 4px solid #fff;
            border-radius: 20px;
            position: relative;

            .wheel {
              display: inline-block;
              width: 4px;
              height: 8px;
              background-color: #fff;
              border-radius: 2px;
              position: absolute;
              top: 8px;
              left: calc(50% - 2px);
              animation-name: scroll;
              animation-duration: 2s;
              animation-iteration-count: infinite;
            }

            @keyframes scroll {
              0% {
                top: 8px;
                opacity: 1;
              }

              30% {
                opacity: 1;
              }

              100% {
                top: 30px;
                opacity: 0;
              }
            }
          }

          .mouse:hover {
            cursor: pointer;
            background-color: #E0B973;
          }
        }
      }
    }
  }

  .container {
    overflow-y: scroll;
    overflow: hidden;
    height: auto;
    width: 80vw;
    display: flex;
    // flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-style: normal;
    margin-top: 10px;


    #breakfastInfo {
      display: flex;
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 60px;
      line-height: 72px;
      text-align: center;
      letter-spacing: 0.05em;
      color: #14274A;
      justify-content: center;
      flex-wrap: wrap;
    }

    p {
      display: flex;
      font-size: 25px;
      line-height: 30px;
      text-align: center;
      justify-content: center;
      flex-wrap: wrap;
      color: #14274A;
    }


    .overlay {
      position: absolute;
      bottom: 0;
      background: rgb(0, 0, 0);
      background: rgba(0, 0, 0, 0.5);
      color: #f1f1f1;
      width: 100%;
      transition: .5s ease;
      opacity: 0;
      color: white;
      font-size: 20px;
      padding: 20px;
      text-align: center;
      box-sizing: border-box;
    }

    .image {
      width: 55vw;
      height: 330px;
      box-sizing: border-box;
    }

    .image:hover {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }


  }


}


.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  flex-wrap: wrap;
  width: 80vw;

  h2 {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 60px;
    line-height: 72px;
    color: #14274A;
    margin-bottom: 4vh;
    flex-wrap: wrap;
    text-align: center;
  }

  .first {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 30px;
    line-height: 37px;
    color: #14274A;
    margin-bottom: 2vh;
    flex-wrap: wrap;
    align-items: center;


  }

  .second {
    font-size: 25px;
    line-height: 30px;
    color: #14274A;
    margin-bottom: 2vh;
    flex-wrap: wrap;
    text-align: center;

  }

  .arrows {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 21px;
    margin-bottom: 10vh;


    .arrow {
      font-size: 24px;
      padding: 10px 15px;
      color: white;
      background-color: #E0B973;
      border: none;
      border-radius: 9px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .arrow:hover {
      cursor: pointer;
      background-color: #e9c178;
    }
  }
}


@media (max-width: 1600px) {

  .main-container {
    .hero {
      transition: all 0.5s linear;
      margin-bottom: 10px;

      .background-rec {


        .group-34 {

          .group-31 {


            #firsth1 {
              transition: all 0.5s linear;
              font-size: 40px;
              line-height: 51px;

            }

            #firsth2 {
              transition: all 0.5s linear;
              font-size: 100px;
              line-height: 120px;
              letter-spacing: 0.05em;

            }

            #firsth3 {
              transition: all 0.5s linear;
              font-size: 40px;
              line-height: 62px;
              letter-spacing: 0.4em;
            }

            p {
              transition: all 0.5s linear;
              width: 75%;
              font-size: 22px;
              line-height: 27px;
              margin-top: 2%;
            }
          }

          .book-now {
            transition: all 0.5s linear;
            width: 220px;
            font-size: 22px;
            line-height: 27px;
            padding: 15px 23px;
          }

          .scroll {
            transition: all 0.5s linear;
            width: 60px;
            height: 87px;
            gap: 10%;

            p {
              transition: all 0.5s linear;
              font-style: normal;
              font-weight: 700;
              font-size: 22px;
              line-height: 27px;
              letter-spacing: 0.05em;
            }



            .mouse {
              transition: all 0.5s linear;
              width: 34px;
              height: 55px;
            }
          }
        }
      }
    }

    .container {

      #breakfastInfo {
        transition: all 0.5s linear;
        font-size: 30px;
        line-height: 38px;
        flex-wrap: wrap;
      }

      #group-29 {
        transition: all 0.5s linear;
        height: 45vh;
        flex-wrap: wrap;


        .left {
          transition: all 0.5s linear;
          width: 40%;
          flex-wrap: wrap;
          gap: 12px;
          padding-left: 3%;
          padding-right: 2%;


          h2 {
            transition: all 0.5s linear;
            font-size: 40px;
            line-height: 40px;
          }

          p {
            transition: all 0.5s linear;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
          }

          button {
            transition: all 0.5s linear;
            width: 170px;
            height: 43px;
            padding: 15px 23px;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.05em;
          }
        }

        .right {
          transition: all 0.5s linear;
          width: 55%;

          .overlay {
            transition: all 0.5s linear;
            font-size: 20px;
            padding: 20px;
          }

          .image {
            transition: all 0.5s linear;
            width: 55vw;
            height: 40vh;
            box-sizing: border-box;
          }

        }
      }
    }


    .testimonials {

      h2 {
        transition: all 0.5s linear;
        font-size: 45px;
        line-height: 72px;
        margin-bottom: 4vh;
      }

      .first {
        transition: all 0.5s linear;
        display: flex;
        font-size: 25px;
        line-height: 34px;
        text-align: center;
      }

      .second {
        transition: all 0.5s linear;
        font-size: 20px;
        line-height: 25px;
        flex-wrap: wrap;
        text-align: center;
      }

      .arrows {
        transition: all 0.5s linear;
        gap: 21px;
        margin-bottom: 10vh;


        .arrow {
          transition: all 0.5s linear;
          font-size: 24px;
          padding: 10px 15px;
        }
      }
    }
  }
}

@media (max-width: 975px) {
  .main-container {
    .hero {
      .background-rec {
        .group-34 {


          .group-31 {
            transition: all 0.5s linear;
            display: flex;
            flex-direction: column;
            align-items: center;
            left: 25%;
            text-align: center;

            #firsth1 {
              transition: all 0.5s linear;
              font-size: 35px;
              line-height: 51px;

            }

            #firsth2 {
              transition: all 0.5s linear;
              font-size: 100px;
              line-height: 100px;
              letter-spacing: 0.05em;

            }

            #firsth3 {
              transition: all 0.5s linear;
              font-size: 35px;
              line-height: 51px;
              letter-spacing: 0.4em;
            }

            p {
              transition: all 0.5s linear;
              width: 75%;
              font-size: 22px;
              line-height: 24px;
              margin-top: 10%;
            }
          }

          .book-now {
            transition: all 0.5s linear;
            width: 220px;
            font-size: 22px;
            line-height: 27px;
            padding: 15px 23px;
          }

          .scroll {
            transition: all 0.5s linear;
            width: 60px;
            height: 87px;
            gap: 10%;

            p {
              transition: all 0.5s linear;
              font-style: normal;
              font-weight: 700;
              font-size: 22px;
              line-height: 27px;
              letter-spacing: 0.05em;
            }



            .mouse {
              transition: all 0.5s linear;
              width: 34px;
              height: 55px;
            }
          }
        }
      }
    }

    .container {

      #breakfastInfo {
        transition: all 0.5s linear;
        font-size: 26px;
        line-height: 38px;
        flex-wrap: wrap;
        text-align: center;
      }

      #group-29 {
        transition: all 0.5s linear;
        height: 45vh;
        flex-wrap: wrap;


        .left {
          transition: all 0.5s linear;
          width: 40%;
          flex-wrap: wrap;
          gap: 12px;
          padding-left: 3%;
          padding-right: 2%;


          h2 {
            transition: all 0.5s linear;
            font-size: 40px;
            line-height: 40px;
          }

          p {
            transition: all 0.5s linear;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
          }

          button {
            transition: all 0.5s linear;
            width: 170px;
            height: 43px;
            padding: 15px 23px;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.05em;
          }
        }

        .right {
          transition: all 0.5s linear;
          width: 55%;

          .overlay {
            transition: all 0.5s linear;
            font-size: 20px;
            padding: 20px;
          }

          .image {
            transition: all 0.5s linear;
            width: 55vw;
            height: 40vh;
            box-sizing: border-box;
          }

        }
      }
    }

    .testimonials {
      transition: all 0.5s linear;
      text-align: center;
      flex-wrap: wrap;
      margin-top: 8vh;

      h2 {
        transition: all 0.5s linear;
        font-size: 40px;
        line-height: 72px;
        margin-bottom: 4vh;
      }

      .first {
        transition: all 0.5s linear;
        font-size: 24px;
        line-height: 34px;

        margin-bottom: 2vh;

      }

      .second {
        transition: all 0.5s linear;
        font-size: 19px;
        line-height: 25px;
        margin-bottom: 2vh;

      }

      .arrows {
        transition: all 0.5s linear;
        gap: 21px;
        margin-bottom: 10vh;


        .arrow {
          transition: all 0.5s linear;
          font-size: 24px;
          padding: 10px 15px;
        }
      }
    }
  }
}

@media (max-width: 832px) {
  .main-container {
    .hero {
      .background-rec {
        .group-34 {


          .group-31 {
            transition: all 0.5s linear;
            display: flex;
            flex-direction: column;
            align-items: center;
            left: 25%;
            text-align: center;

            #firsth1 {
              transition: all 0.5s linear;
              font-size: 35px;
              line-height: 51px;

            }

            #firsth2 {
              transition: all 0.5s linear;
              font-size: 100px;
              line-height: 100px;
              letter-spacing: 0.05em;

            }

            #firsth3 {
              transition: all 0.5s linear;
              font-size: 35px;
              line-height: 51px;
              letter-spacing: 0.4em;
            }

            p {
              transition: all 0.5s linear;
              width: 75%;
              font-size: 22px;
              line-height: 24px;
              margin-top: 10%;
            }
          }

          .book-now {
            transition: all 0.5s linear;
            width: 220px;
            font-size: 22px;
            line-height: 27px;
            padding: 15px 23px;
          }

          .scroll {
            transition: all 0.5s linear;
            width: 60px;
            height: 87px;
            gap: 10%;

            p {
              transition: all 0.5s linear;
              font-style: normal;
              font-weight: 700;
              font-size: 22px;
              line-height: 27px;
              letter-spacing: 0.05em;
            }



            .mouse {
              transition: all 0.5s linear;
              width: 34px;
              height: 55px;
            }
          }
        }
      }
    }

    .container {
      transition: all 0.5s linear;
      gap: 30px;
      height: auto;

      #breakfastInfo {
        transition: all 0.5s linear;
        font-size: 26px;
        line-height: 38px;
        flex-wrap: wrap;
        text-align: center;
        margin-bottom: 30px;
      }

      #group-29 {
        transition: all 0.5s linear;
        height: auto;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;

        .left {
          transition: all 0.5s linear;
          width: 100%;
          flex-wrap: wrap;
          gap: 12px;
          padding-left: 3%;
          padding-right: 0%;
          margin-bottom: 4vh;


          h2 {
            transition: all 0.5s linear;
            font-size: 40px;
            line-height: 40px;
            text-align: center;
          }

          p {
            transition: all 0.5s linear;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
          }

          button {
            transition: all 0.5s linear;
            width: 170px;
            height: 43px;
            padding: 15px 23px;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.05em;
            align-self: center;
          }
        }

        .right {
          transition: all 0.5s linear;
          width: 100%;

          .overlay {
            transition: all 0.5s linear;
            font-size: 20px;
            padding: 20px;
          }

          .image {
            transition: all 0.5s linear;
            width: 100%;
            height: auto;
            box-sizing: border-box;
          }
        }
      }
    }

    .testimonials {
      transition: all 0.5s linear;
      height: auto;
      width: 95vw;
      text-align: center;
      flex-wrap: wrap;

      contain: content;
      overflow: hidden;


      h2 {
        transition: all 0.5s linear;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 20px;
      }

      .first {
        transition: all 0.5s linear;
        font-size: 24px;
        line-height: 34px;

        margin-bottom: 2vh;

      }

      .second {
        transition: all 0.5s linear;
        font-size: 19px;
        line-height: 25px;
        margin-bottom: 2vh;

      }

      .arrows {
        transition: all 0.5s linear;
        gap: 21px;
        margin-bottom: 10vh;


        .arrow {
          transition: all 0.5s linear;
          transition: all 0.5s linear;
          font-size: 24px;
          padding: 10px 15px;
        }
      }
    }
  }
}

@media (max-width:531px) {

  .group-31 {
    #firsth1 {
      transition: all 0.5s linear;
      font-size: 30px;
      line-height: 46px;
    }

    #firsth2 {
      transition: all 0.5s linear;
      font-size: 70px;
      line-height: 80px;
    }

    #firsth3 {
      transition: all 0.5s linear;
      font-size: 30px;
      line-height: 46px;
    }

    p {
      transition: all 0.5s linear;
      display: none;
    }
  }
}
