<div class="hero">
    <div class="background-rec">
        <div class="group-34 unselectable">
            <app-header></app-header>
            <div class="group-31">
                <h1 id="firsth1">welcome to</h1>
                <h1 id="firsth2">luxury</h1>
                <h1 id="firsth3">hotels</h1>
                <p>Book your stay and enjoy Luxury redefined at the most affordable rates.</p>
            </div>
            <div class="book-now">
                <p>book now</p>
                <img src="./../../../assets/Vector.png" alt="home-icon">
            </div>

            <div class="scroll">
                <p>Scroll</p>
                <img src="./../../../assets/Subtraction 2.png" alt="scroll-icon">
            </div>
        </div>
    </div>
</div>