.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  background-image: url("../../../assets/gabriel ghnassia A9h6OsAxTyQ unsplash.png");
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #000000;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100vw;
  margin-bottom: 20px;
}

.main-container .hero .background-rec {
  background: rgba(20, 39, 74, 0.5);
  height: inherit;
  width: inherit;
}

.main-container .hero .background-rec .group-34 {
  width: 80vw;
  height: 95vh;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-container .hero .background-rec .group-34 .group-31 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 0%;
  top: 45%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  text-transform: uppercase;
  color: #FFFFFF;
}

.main-container .hero .background-rec .group-34 .group-31 #firsth1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 61px;
}

.main-container .hero .background-rec .group-34 .group-31 #firsth2 {
  font-family: "Cormorant+Garamond";
  font-style: normal;
  font-weight: 700;
  font-size: 140px;
  line-height: 160px;
  letter-spacing: 0.07em;
}

.main-container .hero .background-rec .group-34 .group-31 #firsth3 {
  font-family: "Cormorant+Garamond";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 0.4em;
}

.main-container .hero .background-rec .group-34 .group-31 p {
  width: 75%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  text-transform: none;
  margin-top: 2%;
}

.main-container .hero .background-rec .group-34 .book-now {
  width: 268px;
  position: absolute;
  left: 50%;
  top: 81%;
  -webkit-transform: translate(-50%, -80%);
          transform: translate(-50%, -80%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #E0B973;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  padding: 20px 28px;
}

.main-container .hero .background-rec .group-34 .book-now:hover {
  cursor: pointer;
  background-color: #e9c178;
}

.main-container .hero .background-rec .group-34 .scroll {
  width: 79px;
  height: 106px;
  position: absolute;
  left: 50%;
  top: 95%;
  -webkit-transform: translate(-50%, -80%);
          transform: translate(-50%, -80%);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10%;
}

.main-container .hero .background-rec .group-34 .scroll a {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.main-container .hero .background-rec .group-34 .scroll p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.05em;
}

.main-container .hero .background-rec .group-34 .scroll .mouse {
  display: inline-block;
  width: 34px;
  height: 55px;
  border: 4px solid #fff;
  border-radius: 20px;
  position: relative;
}

.main-container .hero .background-rec .group-34 .scroll .mouse .wheel {
  display: inline-block;
  width: 4px;
  height: 8px;
  background-color: #fff;
  border-radius: 2px;
  position: absolute;
  top: 8px;
  left: calc(50% - 2px);
  -webkit-animation-name: scroll;
          animation-name: scroll;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes scroll {
  0% {
    top: 8px;
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  100% {
    top: 30px;
    opacity: 0;
  }
}

@keyframes scroll {
  0% {
    top: 8px;
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  100% {
    top: 30px;
    opacity: 0;
  }
}

.main-container .hero .background-rec .group-34 .scroll .mouse:hover {
  cursor: pointer;
  background-color: #E0B973;
}

.main-container .container {
  overflow-y: scroll;
  overflow: hidden;
  height: 100vh;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
}

.main-container .container #breakfastInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #14274A;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-container .container #group-29 {
  height: 45vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-container .container #group-29 .left {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  padding-left: 5%;
  position: relative;
}

.main-container .container #group-29 .left h2 {
  font-weight: 700;
  font-size: 52px;
  line-height: 52px;
  letter-spacing: 0.02em;
  color: #14274A;
  text-align: left;
}

.main-container .container #group-29 .left p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
  color: #14274A;
}

.main-container .container #group-29 .left button {
  width: 185px;
  height: 53px;
  background-color: #E0B973;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 4px;
  padding: 20px 28px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.main-container .container #group-29 .left button:hover {
  cursor: pointer;
  background-color: #e9c178;
}

.main-container .container #group-29 .right {
  display: inline-block;
  width: 55%;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-container .container #group-29 .right .overlay {
  position: absolute;
  bottom: 0;
  background: black;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-container .container #group-29 .right .image {
  width: 55vw;
  height: 40vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-container .container #group-29 .right .image:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-container .container #group-29 .right:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.main-container .container #group-29 .left::before {
  display: inline-block;
  content: '';
  width: 1px;
  height: 100%;
  border: 2px solid #14274A;
  background-color: #14274A;
  position: absolute;
  left: 0%;
}

.main-container .testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10vh;
}

.main-container .testimonials h2 {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 60px;
  line-height: 72px;
  color: #14274A;
  margin-bottom: 4vh;
}

.main-container .testimonials .first {
  font-size: 30px;
  line-height: 37px;
  color: #14274A;
  margin-bottom: 2vh;
}

.main-container .testimonials .second {
  font-size: 25px;
  line-height: 30px;
  color: #14274A;
  margin-bottom: 2vh;
}

.main-container .testimonials .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  gap: 21px;
  margin-bottom: 10vh;
}

.main-container .testimonials .arrows .arrow {
  font-size: 24px;
  padding: 10px 15px;
  color: white;
  background-color: #E0B973;
  border: none;
  border-radius: 9px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-container .testimonials .arrows .arrow:hover {
  cursor: pointer;
  background-color: #e9c178;
}
