.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  .hero {
    display: flex;
    height: 100vh;
    background-image: url("../../../assets/gabriel\ ghnassia\ A9h6OsAxTyQ\ unsplash.png");
    box-sizing: border-box;
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100vw;




    .background-rec {
      background: rgba(20, 39, 74, 0.5);
      height: inherit;
      width: inherit;



      .group-34 {
        width: 80vw;
        height: 95vh;
        display: inline-block;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        .group-31 {
          width: 50%;
          display: flex;
          flex-direction: column;
          position: absolute;
          left: 0%;
          top: 45%;
          transform: translate(-0%, -50%);
          text-transform: uppercase;
          color: #FFFFFF;

          #firsth1 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: normal;
            font-size: 50px;
            line-height: 61px;

          }

          #firsth2 {
            font-family: "Cormorant+Garamond";
            font-style: normal;
            font-weight: 700;
            font-size: 140px;
            line-height: 160px;
            letter-spacing: 0.07em;

          }

          #firsth3 {
            font-family: "Cormorant+Garamond";
            font-style: normal;
            font-weight: 700;
            font-size: 60px;
            line-height: 72px;
            letter-spacing: 0.4em;
          }

          p {
            width: 75%;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 25px;
            line-height: 30px;
            letter-spacing: 0.1em;
            color: #FFFFFF;
            text-transform: none;
            margin-top: 2%;
          }
        }

        .book-now {
          width: 268px;
          position: absolute;
          left: 50%;
          top: 81%;
          transform: translate(-50%, -80%);
          display: flex;
          align-items: center;
          justify-content: space-around;
          background: #E0B973;
          border: 1px solid #000000;
          box-sizing: border-box;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 4px;
          color: #FFFFFF;
          text-transform: uppercase;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 700;
          font-size: 25px;
          line-height: 30px;
          padding: 20px 28px;
        }

        .book-now:hover {
          cursor: pointer;
          background-color: #e9c178;
        }

        .scroll {
          width: 79px;
          height: 106px;
          position: absolute;
          left: 50%;
          top: 95%;
          transform: translate(-50%, -80%);
          color: white;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          gap: 10%;

          a {

            -webkit-transition: all 0.5s linear;
            -moz-transition: all 0.5s linear;
            -o-transition: all 0.5s linear;
            transition: all 0.5s linear;

          }

          p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 25px;
            line-height: 30px;
            letter-spacing: 0.05em;
          }



          .mouse {
            display: inline-block;
            width: 34px;
            height: 55px;
            border: 4px solid #fff;
            border-radius: 20px;
            position: relative;

            .wheel {
              display: inline-block;
              width: 4px;
              height: 8px;
              background-color: #fff;
              border-radius: 2px;
              position: absolute;
              top: 8px;
              left: calc(50% - 2px);
              animation-name: scroll;
              animation-duration: 2s;
              animation-iteration-count: infinite;
            }

            @keyframes scroll {
              0% {
                top: 8px;
                opacity: 1;
              }

              30% {
                opacity: 1;
              }

              100% {
                top: 30px;
                opacity: 0;
              }
            }
          }

          .mouse:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  .container {
    overflow-y: scroll;
    overflow: hidden;
    height: 100vh;
    width: 80vw;
    display: flex;
    // flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-style: normal;

    #breakfastInfo {
      display: flex;
      // margin-top: 7vh;
      color: #14274A;
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 36px;
      line-height: 44px;
      justify-content: center;
      flex-wrap: wrap;
    }

    #group-29 {
      height: 45vh;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      .left {
        width: 40%;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        flex-wrap: wrap;
        gap: 15px;


        h2 {
          // font-family: 'Cormorant Garamond';
          font-weight: 700;
          font-size: 52px;
          line-height: 52px;
          letter-spacing: 0.02em;
          color: #14274A;
          text-align: left;
        }

        p {
          font-family: "Montserrat";
          font-weight: 400;
          font-size: 22px;
          line-height: 40px;
          color: #14274A;
        }

        button {
          width: 185px;
          height: 53px;
          background-color: #E0B973;
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border: none;
          border-radius: 4px;
          padding: 20px 28px;
          font-family: "Montserrat";
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: #FFFFFF;
        }

        button:hover {
          cursor: pointer;
        }
      }

      .right {
        display: inline-block;
        width: 55%;
        // flex-wrap: wrap;
        position: relative;
        box-sizing: border-box;

        .overlay {
          position: absolute;
          bottom: 0;
          background: rgb(0, 0, 0);
          background: rgba(0, 0, 0, 0.5);
          color: #f1f1f1;
          width: 100%;
          transition: .5s ease;
          opacity: 0;
          color: white;
          font-size: 20px;
          padding: 20px;
          text-align: center;
          box-sizing: border-box;
        }

        .image {
          width: 55vw;
          height: 40vh;
          box-sizing: border-box;
        }

        .image:hover {
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }


      }

      .right:hover .overlay {
        opacity: 1;
        cursor: pointer;
      }

      div {
        position: relative;
      }

      div::before {
        display: inline-block;
        content: '';
        width: 1px;
        height: 15px;
        background-color: var(--color-light);
        position: absolute;
        left: -15px;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
