.socials-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.6rem;
}

.socials-container p {
  color: #838391;
  font-family: "Roboto";
  font-weight: 90rem;
  font-size: 1.6rem;
  line-height: 1.875rem;
  letter-spacing: 0.04rem;
  text-align: center;
  margin: 0rem;
}

.socials-container .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.socials-container .socials .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10rem;
  height: 6rem;
  border: 0.1rem solid rgba(226, 226, 224, 0.4854);
  mix-blend-mode: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.socials-container .socials .container #fb {
  color: #1777F2;
  font-size: 1.424rem;
}

.socials-container .socials .container #tw {
  color: #1DA1F2;
  font-size: 1.571rem;
}

.socials-container .socials .container #ln {
  color: #0078B5;
  font-size: 1.581rem;
}
